In [23]:
import pandas as pd 
titanic_data=pd.read_csv('titanic.csv')

## Задача 1

### 1.1 Общую выживаемость всех пассажиров Титаника

In [36]:
sgb=titanic_data.groupby('Survived')
sgb['Survived'].count()[1]/len(titanic_data) *100

38.38383838383838

### 1.2 Определите максимальную и минимальную плату за билет.

In [40]:
max_price = titanic_data['Fare'].max()
min_price= titanic_data['Fare'].min()
print(max_price,min_price)

512.3292 0.0

### 1.3 Определите средний возраст пассажиров Титаника.

In [41]:
titanic_data['Age'].mean()

29.69911764705882

### 1.4 Определите выживаемость по возрастным интервалам(достаточно 3-ех интервалов)

In [48]:
junior_survived=len(titanic_data[(titanic_data['Survived']==True) & (titanic_data['Age']<18)]) / len(titanic_data[titanic_data['Age']<18])*100
middle_survived=len(titanic_data[(titanic_data['Survived']==True) & (titanic_data['Age']>=18) & (titanic_data['Age']<50) ])/len(titanic_data[(titanic_data['Age']>=18) & (titanic_data['Age']<50)])*100
old_survived=len(titanic_data[(titanic_data['Survived']==True) & (titanic_data['Age']>=50)])/len(titanic_data[titanic_data['Age']>=50])*100
print(junior_survived,middle_survived,old_survived)

53.98230088495575 38.33017077798861 36.486486486486484

### 1.5 Определите общую сумму, потраченную на поездку.

In [45]:
titanic_data['Fare'].sum()

28693.9493